/*ZHL*/
.form-horizontal .form-group .boinced-control-label{font-weight:bold;line-height:22px;text-align:left;}
.boincedIcont{float: left;line-height:32px;margin:0 5px}
.form-horizontal .form-group{margin-bottom: 0px}
/*kylee*/
.modal-content .btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #ccc;
}
.modal-content  .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: none;
}
.modal-content .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #ccc;
}
.modal-content .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #000;
    background-color: #fff;
    border-color: #ccc;
}
.modal-content .sub-unit li.nodeName{
    padding: 0 11px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
}
.modal-content .sub-unit .nodeName .triangle_border_down {
    position: absolute;
    right: 27px;
    top: 7px;
}
