.window-body{
    height: 500px;
}
.window-body .window-body-1,.window-body .content{
    width: 96%;
}
.window-body .window-body-1 {
    height: 15%;
    padding: 20px 0 0 10px;
    width: 97%;
}
.window-body .content{
    height: 83%;overflow-y: auto;margin-left: 10px;border: 1px solid #D8D4D4;
}
.window-body .content ul{
    height: 23px;
    padding: 0 10px 0 10px;
}
.window-body .content ul li{
    height: 100%;
    padding-top: 5px;
}
.window-body .content ul li:hover{
    background-color: #eef1f8;
}
.window-body .content ul li a{
    color: #797979;
    text-decoration: none;
}
.window-body .content ul li a:hover{
    color: #999;
}
.window-body .content ul li a:active{
    color: #000;
}