.division-stake .field-key,.division-stake .field-value{
    line-height: 40px;
    float: left;
    font-size: 12px;
}
.division-stake  .field-key{
    width: 15%;
    font-weight: bold;
}
.division-stake  .field-value{
    width: 17%;
}
.division-stake .input-text{
    margin: 4px 20px 0px 10px;
    height: 30px;
    line-height: 30px;
}
.division-stake .icon{
    display: inline-block;
    width: 23px;
    height: 22px;
    background: url("../imgs/icon-button.png") no-repeat;
    position: relative;
    top: 6px;
    left: -20px;
}
.division-stake .icon-delete{
    background-position: -148px -4px;
}