.LubanLD-container .main-container {
    width: 100%;
    height: 100%;
}

.LubanLD-container .menu-nav {
    overflow: hidden;
    margin-left: 1px;
    background-color: #fff;
    left: 0;
    bottom: 0px;
    position: relative;
    top: 0px;
}

.LubanLD-container .menu-nav .contract-manage {
    background-color: #EDEEF0;
    height: 100%;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap {
    height: 40px;
    padding-top: 10px;
    background-color: #fff;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select {
    margin: 0 0 0 12px;
    font-size: 12px;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .menu {
    width: 120px;
    height: 20px;
    padding: 0;
    position: relative;
    border: 0 none;
    cursor: pointer;
    background-color: #fff;
    text-align: left;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .menu:focus {
    outline: none !important;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .menu .menu-name {
    font-weight: 700;
    font-size: 14px;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .menu .arrow {
    position: absolute;
    right: 4px;
    top: 5px;
    z-index: 10;
    width: 16px;
    height: 12px;
    background: url("../imgs/icon-button.png") -72px -32px no-repeat;
    transition: all 0.5s ease-out;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu {
    padding: 0;
    margin: 0;
    font-size: 12px;
    min-width: 100px;
    border: 0 none;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu li a {
    padding: 3px 5px;
}

.LubanLD-container .menu-nav .contract-manage .contract-search {
    height: 40px;
    border: 1px solid #DADBDF;
    padding: 3px;
    position: relative;
    font-size: 0;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .input-search {
    width: 100%;
    height: 32px;
    font-size: 11px;
    padding-left: 6px;
    color: #B3B3B3;
    border-radius: 4px;
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .input-search:focus {
    outline: none;
    border: 1px solid rgba(93, 135, 209, 0.9);
    box-shadow: 0px 1px 1px #5D87D1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .btn-wrap,
.LubanLD-container .menu-nav .contract-manage .contract-search .clear {
    width: 28px;
    height: 30px;
    position: absolute;
    top: 4px;
    padding: 6px 5px;
    cursor: pointer;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .btn-wrap {
    right: 3px;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .btn-wrap .btn-search {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../imgs/icon-button.png") -36px -9px no-repeat;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .clear {
    right: 25px;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .clear .btn-close {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../imgs/icon-button.png") -54px -9px no-repeat;
}

.LubanLD-container .menu-nav .contract-manage .left-list {
    height: 100%;
}

.LubanLD-container .menu-nav .contract-manage .left-list li {
    /*width: 200px;*/
}

.LubanLD-container .menu-nav .contract-manage .left-list .project-name {
    height: 46px;
    font-size: 0;
    padding-left: 4px;
}

.LubanLD-container .menu-nav .contract-manage .left-list .project-name .icon-project {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url("../imgs/icon-button.png") -1px -10px no-repeat;
    margin-right: 8px;
}

.LubanLD-container .menu-nav .contract-manage .left-list .project-name span {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 46px;
    vertical-align: baseline;
}

.LubanLD-container .menu-nav .contract-manage .left-list .contract-name {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 22px;
    border-left: 2px solid #EDEEF0;
    border-top: 1px solid #EDEEF0;
    border-bottom: 1px solid #EDEEF0;
}

.LubanLD-container .menu-nav .contract-manage .left-list .contract-name.active {
    border-top: 1px solid #DADBDD;
    border-bottom: 1px solid #DADBDD;
    border-left: 2px solid #FED928;
}

.LubanLD-container .menu-nav .btn-wrapper {
    width: 20px;
    height: 70px;
    position: absolute;
    top: 50%;
    right: 0;
}

.LubanLD-container .menu-nav .btn-wrapper .btn-slide {
    width: 6px;
    height: 79px;
    background: url(../imgs/icon-button.png) -184px -34px no-repeat;
    z-index: 100;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.LubanLD-container .menu-nav .btn-wrapper .btn-arrow {
    position: absolute;
    z-index: 101;
    width: 6px;
    height: 12px;
    background: url(../imgs/icon-button.png) -114px -31px no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-out;
}