.LubanLD-container .menu-nav {
  overflow: hidden;
  margin-left: 1px;
  background-color: #fff;
  left: 0;
  bottom: 0px;
  position: absolute;
  top: 70px;
  width: 20%;
}

.LubanLD-container .menu-nav .contract-manage {
  background-color: #EDEEF0;
  height: 100%;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap {
  height: 40px;
  padding-top: 10px;
  background-color: #fff;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select {
  padding-left: 12px;
  font-size: 12px;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .menu {
  width: 120px;
  height: 20px;
  padding: 0;
  position: relative;
  border: 0 none;
  cursor: pointer;
  background-color: #fff;
  text-align: left;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .menu:focus {
  outline: none !important;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .menu .menu-name {
  font-weight: 700;
  font-size: 14px;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .menu .arrow {
  position: absolute;
  right: 4px;
  top: 5px;
  z-index: 10;
  width: 16px;
  height: 12px;
  background: url("../imgs/icon-button.png") -72px -32px no-repeat;
  transition: all 0.5s ease-out;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu {
  top: 30px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 0 none;
  border: 1px solid #DADBDE;
}

.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu li a {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.LubanLD-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu li a:hover {
  background-color: #DDE4F0;
}

.LubanLD-container .menu-nav .contract-manage .contract-search {
  height: 40px;
  border: 1px solid #DADBDF;
  padding: 3px;
  position: relative;
  font-size: 0;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .input-search {
  width: 100%;
  height: 32px;
  font-size: 11px;
  border-radius: 4px;
  border: 1px solid #fff;
  padding-right: 44px;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .btn-wrap,
.LubanLD-container .menu-nav .contract-manage .contract-search .clear {
  width: 28px;
  height: 30px;
  position: absolute;
  top: 4px;
  padding: 6px 5px;
  cursor: pointer;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .btn-wrap {
  right: 3px;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .btn-wrap .btn-search {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/icon-button.png") -36px -9px no-repeat;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .clear {
  right: 25px;
}

.LubanLD-container .menu-nav .contract-manage .contract-search .clear .btn-close {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/icon-button.png") -54px -9px no-repeat;
}

.LubanLD-container .menu-nav .contract-manage .left-list {
  height: 100%;
  overflow-y: auto;
}

.LubanLD-container .menu-nav .contract-manage .left-list li {
  /*width: 200px;*/
}

.LubanLD-container .menu-nav .contract-manage .left-list .project-name {
  /*height: 46px;*/
  font-size: 0;
  padding-left: 4px;
}

.LubanLD-container .menu-nav .contract-manage .left-list .project-name .icon-project {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url("../imgs/icon-button.png") -1px -10px no-repeat;
  margin-right: 8px;
}

/*.LubanLD-container .menu-nav .contract-manage .left-list .project-name span {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 46px;
  vertical-align: baseline;
}
*/
.LubanLD-container .menu-nav .contract-manage .left-list .project-name >a, .LubanLD-container .menu-nav .contract-manage .left-list .contract-name >a{
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 46px;
  vertical-align: baseline;
}


.LubanLD-container .menu-nav .contract-manage .left-list .contract-name {
  /*height: 40px;*/
  line-height: 40px;
  font-size: 12px;
  font-weight: 700;
  /*padding-left: 22px;*/
  border-left: 2px solid #EDEEF0;
  border-top: 1px solid #EDEEF0;
  border-bottom: 1px solid #EDEEF0;
}

/*.LubanLD-container .menu-nav .contract-manage .left-list .contract-name.active {
  border-top: 1px solid #DADBDD;
  border-bottom: 1px solid #DADBDD;
  border-left: 2px solid #FED928;
}*/

.LubanLD-container .menu-nav .btn-wrapper {
  width: 20px;
  height: 70px;
  position: absolute;
  top: 50%;
  right: 0;
}


.LubanLD-container .menu-nav .btn-wrapper .btn-slide {
  width: 6px;
  height: 79px;
  z-index: 100;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px 0 0 5px;
  background-color: #DADBDE;
}

.LubanLD-container .menu-nav .btn-wrapper .btn-arrow {
  position: absolute;
  z-index: 101;
  width: 6px;
  height: 12px;
  background: url(../imgs/icon-button.png) -114px -31px no-repeat;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-out;
}
/*左侧树展开、收缩按钮样式开始*/
.contract-manage .openOrCloseTree {
  float: left;
  border: #BEC4CE 1px solid;
  height: 20px;
  width: 20px;
  padding:0;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  line-height:1px;
  margin-top:9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 20px;
}
.contract-manage .openOrCloseTree span {
  /*line-height: 9px;*/
  color: #BEC4CE;
}
.contract-manage .openOrCloseTree:hover{
  border:1px solid #99A1AF;
}
.contract-manage .openOrCloseTree:hover span{
  color: #99A1AF;
}

.contract-manage .openOrCloseTree:active{
  border:1px solid #4B5A7A;
}
.contract-manage .openOrCloseTree:active span{
  color: #4B5A7A;
}
/*左侧树展开、收缩按钮样式结束*/

/*side-change*/
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name >a {
    padding-left: 20px;
    width: 100%;
    display: inline-block;
    /*position: relative;*/
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name >a.active {
    border-top: 1px solid #DADBDD;
    border-bottom: 1px solid #DADBDD;
    border-left: 2px solid #FED928;
}
/*第二种树下拉按钮样式开始*/
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon {
  float: right;
  width: 16px;
  height: 16px;
  margin: 15px 20px 0 0;
  border: 1px solid #9aa2b0;
  border-radius: 3px;
  cursor: pointer;
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-down {
  background-color: transparent;
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-child{
  height: 1px;
  width: 7px;
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-up,.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-x-down,.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-y-down{
  background-color: #9aa2b0;
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-x-down,.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-x-up {
  margin: 6px 0 0 1px;
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-x-down,.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-y-up {
  -webkit-transform: rotate(45deg);
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-y-down,.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-y-up{
  float: left;
  margin: -1px 0 0 6px;
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-y-down,.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-x-up {
  -webkit-transform: rotate(-45deg);
}
.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-x-up,.LubanLD-container .menu-nav .contract-manage .left-list .contract-name .icon-y-up {
  background-color: #fff;
}
/*第二种树下拉按钮样式结束*/

/*ztree-chagne*/
.menu-nav .ztree {
    padding: 17px;
    background: #fff;
    overflow: auto;
}
.menu-nav .ztree li a {
  width: 160px;
}
#rMenu > ul >li{
  padding:0 5px;
  height: 25px;
  line-height: 25px;
}
#rMenu{
  position: absolute;
  border: 1px solid #99a1ae;
  background: #fff;
  min-width: 100px;
  visibility:hidden;
}
#rMenu .sub-operation{
  position: absolute;
  top: 0;
  left:100px;
  min-width: 125px;
  background: #d3d8e4;
}
#rMenu .sub-operation > li {
  /*visibility:hidden*/
}
#rMenu .operation li:hover{
  background: #d3d8e4;
  font-weight: bold;
}
#rMenu .sub-operation li:hover{
  background: #eff2f9;
  font-weight: bold;
}
#rMenu .sub-operation-move{
  position: absolute;
  top: 0;
  left: 100px;
  min-width: 100px;
  background: #d3d8e4;
}
.ztree li a.curSelectedNode_Edit {
    padding-top: 0px;
    background-color: #FFE6B0;
    color: black;
    height: 28px;
    border: 1px #FFB951 solid;
    opacity: 0.8;
}