<link rel="stylesheet" href="css/list_manage_contract.css">

<div class="model-content">
    <div class="window-title">
        <span>新增/编辑施工合同</span>
        <div ng-click="cancel()" class="window-close">
            <div class="window-close-left"></div>
            <div class="window-close-right"></div>
        </div>
    </div>
    <div class="window-content">

        <div class="listManageContractModal list-manage-contract">
            
            <div style="margin:20px 0;">
			 <span>选择所需清单：</span>
             <button class="button btn-associate" ng-click="selectItemizedModal()">选择清单</button>
            </div>


           <span>填写图纸工程量</span>
           <div class="division_content" style="clear: both; margin-top:20px;">
                <div class="clearfix">
                    <div class="thead" style="width: 10%"><span>子目号</span>
                    </div>
                    <div class="thead" style="width: 15%"><span>子名称</span>
                    </div>
                    <div class="thead" style="width: 10%"><span>计量单位</span>
                    </div>
                    <div class="thead" style="width: 15%"><span>合同单价（元）</span>
                    </div>
                    <div class="thead" style="width: 15%"><span>合同数量</span>
                    </div>
                    <div class="thead" style="width: 15%"><span>发起工程量</span>
                    </div>
                    <div class="thead" style="width: 15%"><span>图纸工程量</span>
                    </div>
                    <div class="thead" style="width: 5%"><span>删除</span>
                    </div>
                </div>
                <div class="table-list mytable" style=" height:400px; overflow-y: scroll">
                    <div class="aline contractList" listid={{item.id}} ng-repeat="item in newList">
                        <div class="tbody textLeft" style="width: 10%">{{item.listNum}}</div>
                        <div class="tbody" style="width: 15%">{{item.itemName}}</div>
                        <div class="tbody" style="width: 10%">{{item.measurementUnit}}</div>
                        <div class="tbody" style="width: 15%">{{item.contractPrice}}</div>
                        <div class="tbody" style="width: 15%">{{item.contractQuantity}}</div>
                        <div class="tbody" style="width: 15%">{{item.launchQuantity}}</div>
                        <div class="tbody" style="width: 15%"><input type="text" class="input-border {{validate($index)}}" ng-maxlength="20" ng-pattern="/^\d{1,20}(\.{1}\d{1})?$/" ng-model="myText" ng-blur="check($index)" value="{{item.paperQuantity}}"></div>
                        <div class="tbody" style="width: 5%" ng-click="delList($index)"><i class="del_icon"></i></div>
                    </div>
                </div>
            </div>




        </div>

    </div>
    <div class="window-bottom">
        <div style="text-align: right">
            <button class="btn ok fiveLetter" type="button" ng-click="save()">保存</button>
        </div>
        <div style="text-align: left">
            <button class="btn cancel fiveLetter" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>

















