<div class="model-content">
    <div class="window-title">
        <span>信息提示</span>
        <div ng-click="cancel()" class="window-close">
            <div class="window-close-left"></div>
            <div class="window-close-right"></div>
        </div>
    </div>
    <div class="window-content">
        <div class="delete-constract-wrapper" style="padding:30px; text-align: center;">
            <p style="margin-bottom: 30px;">当前章节清单将被全部清空!</p>
            <h3 style="font-size: 18px; font-weight: bolder;">是否确认清空？</h3>
        </div>
    </div>
    <div class="window-bottom">
        <div style="text-align: right">
            <button class="btn ok fiveLetter" type="button" ng-click="ok()">确定</button>
        </div>
        <div style="text-align: left">
            <button class="btn cancel fiveLetter" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>