<div class="window-title">
        <span>提示</span>
        <div ng-click="cancel()" class="window-close">
            <div class="window-close-left"></div>
            <div class="window-close-right"></div>
        </div>
</div>
<div class="window-body">
    <div style="text-align: center;margin-top: 30px;margin-bottom: 20px;">您已关联了构件，是否删除关联？</div>
</div>
<div class="window-bottom">
    <div>
        <button class="button twoLetter ok" type="button" ng-click="ok()">确定</button>
    </div>
    <div>
        <button class="twoLetter cancel" type="button" ng-click="cancel()">取消</button>
    </div>
</div>