<link rel="stylesheet" href="css/edit_comp_group.css">
<div class="window-title">
        <span>更改构件组</span>
        <div ng-click="cancel()" class="window-close">
            <div class="window-close-left"></div>
            <div class="window-close-right"></div>
        </div>
</div>
<div class="window-body">
    <div class="window-body-1">
        <div style="float: left;margin-top: 10px;">请选择关联的构件组</div>
        <!-- 搜索框 -->
        <div class="contract-search input-border" style="float: right; width: 50%;">
            <input type="text" class="input-search" placeholder="快速搜索构件组" style="width: calc(100% - 50px);">
            <a class="clear" style="display: none;position: absolute;top: 56px;right: 52px;">
                <i class="btn-close"></i>
            </a>
            <a class="btn-wrap" style="position: absolute;top: 56px;right: 31px;">
                <i class="btn-search"></i>
            </a>
        </div>
    </div>
    <div class="content" style="">
        <ul style="">
            <li ng-repeat="item in compGroupInfos" ng-click="$event.preventDefault(); selected.item = item;clickCompGroup('compGroup_'+$index)" id="compGroup_{{$index}}">
                <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
                <a href="#" ng-click="">{{ item }}</a>
            </li>
        </ul>
        <!--Selected: <b>{{selected.item}}</b>-->
    </div>
</div>
<div class="window-bottom">
    <div>
        <button class="button btn ok twoLetter" type="button" ng-click="ok()">确定</button>
    </div>
    <div>
        <button class="button btn cancel twoLetter" type="button" ng-click="cancel()">取消</button>
    </div>
</div>