<link rel="stylesheet" href="css/list_manage_contract.css">

<div class="top-navbar" tab-active>
    <a href="javascript:;" class="tab" ui-sref="ld.first">
        <span>合同管理</span>
    </a>
    <a href="javascript:;" class="active tab" ui-sref="ld.projectDivisionContract">
        <span>工程划分</span>
    </a>
    <a href="javascript:;" class="tab" ui-sref="ld.listManageContract">
        <span>清单管理</span>
    </a>
</div>

<!-- 工程管理-清单管理-合同段数据展示页面 -->
<div class="content list-manage-contract">
    <div class="inner-wrapper">
    <div class="contract-name">合同1</div>
    <div>
        <!-- 下拉框 -->
        <div class="contract-section">
            <span>章节号： </span>
            <select class="input-search input-border" ng-change="changeFn()" ng-model="myValue">
                <option value="list">全部章节</option>
                <option ng-repeat="item in chapters" value="{{item.key}}">{{item.value}}</option>
            </select>


        </div>

        <!-- 搜索框 -->
        <div class="contract-search clearfix" input-search-child-items>
            <span class="titleText">关键词：</span>
            <input id="searchChildItemsValue1" type="text" class="input-search input-border" placeholder="请输入工程名称、桩号等关键词" style="width: 20%;">
            <a id="clearSearchKey1" class="clear" style="right: 56px;position: relative;top: 5px;" ng-click="clearSearchKey()">
                <i class="btn-close"></i>
            </a>
            <a class="btn-wrap" style="right: 50px;position: relative;top: 5px;" ng-click="searchChildItems()">
                <i class="btn-search"></i>
            </a>
        </div>
        <!-- <div style="width: 51%;float: right;">
            <span style=" line-height:32px; float:left">关键词:</span>
            <div class="contract-search" >
                <input type="text" class="input-search input-border" placeholder="请输入工程名称、桩号等关键词">
                <button class="button twoLetter">查询</button>
                 <button class="button-empty twoLetter">清空</button>
            </div>
        </div> -->
    </div>
    <div class="borderTop">
        <button class="button twoLetter" ng-click="uploadFile()">导入</button>
        <button class="button twoLetter" ng-click="DownloadContractlist()">导出</button>
        <button class="button twoLetter" ng-click="clearContractlist()">清空</button>
        <button class="button twoLetter" ng-click="subContractlist()">提交</button>

        <div class="QA-icon">
            <img src="./imgs/icon-Q.png">
            <p>
                必须遵守的规则：<br>
                1、第一行为字段标题；
                2、列的顺序依次为：清单编号、项目名称、计量单位、合同单价、合同数量、金额<br>
                3、章节号编号必须带“章”；<br>
                4、汇总类项目的计量单位必须为空；<br>
                5、不能有合并单元格；<br>
                6、避免空行；<br>
                7、每个细目都要对应一个汇总类项目。”<br>
            </p>
        </div>
    </div>


    <div  class="division_content"  ng-show="{{divShow}}" style="height:calc(100% - 180px);">

            <div class="fileUpload">
                <img src="./imgs/icon-form.png">
                <h3>请先导入表格</h3>
                <div><a href="./imgs/导入清单样例文件.xls" download="导入清单样例文件"><i></i>下载标准表格样式</a></div>
            </div>
        </div>                        



    <div ng-show="{{!divShow}}">
     <div class="division_content" style="clear: both;">
        <div class="ttitle" style="padding: 0px 10px;">
            <span>清单管理:</span>
            <span style="float: right;">合计：xxx,x元</span>
        </div>

        <div class="clearfix">
            <div class="thead" style="width: 10%"><span>清单编号</span>
            </div>
            <div class="thead" style="width: 19%"><span>清单名称</span>
            </div>
            <div class="thead" style="width: 19%"><span>计量单位</span>
            </div>
            <div class="thead" style="width: 19%"><span>合同单价（元）</span>
            </div>
            <div class="thead" style="width: 19%"><span>合同数量</span>
            </div>
            <div class="thead" style="width: 14%"><span>合同金额（元）</span>
            </div>
        </div>
        <div class="table-list" style="height: calc(100vh - 430px);overflow-y: scroll">
            <div class="aline" listid={{item.id}} ng-repeat="item in childItemizedInfos.content">
                <div class="tbody" style="width: 10%">{{item.listNum}}</div>
                <div class="tbody" style="width: 19%">{{item.itemName}}</div>
                <div class="tbody" style="width: 19%">{{item.measurementUnit}}</div>
                <div class="tbody" style="width: 19%">{{item.contractPrice}}</div>
                <div class="tbody" style="width: 19%">{{item.contractQuantity}}</div>
                <div class="tbody" style="width: 14%">{{item.contractAmount}}</div>
            </div>
        </div>
    </div>
    <div style="text-align: center;margin:10px 0;font-size: 14px;">
        <span style="margin-right: 40px;">共{{childItemizedInfos.totalElements}}条</span>
        <i class="first page" ng-click="firstPage()"></i>
        <i class="previous page" ng-click="prevPage()"></i>
        <input id="currentPage" type="text" class="input-border" style="width: 30px;height: 30px;line-height: 30px;" value="{{childItemizedInfos.number+1}}"/>
        / <span>{{childItemizedInfos.totalPages}}</span>
        <i class="next page" ng-click="nextPage()"></i>
        <i class="last page" ng-click="lastPage()"></i>
    </div>
</div>
</div>
    </div>
