<!-- 删除左侧树节点弹框 -->
<div class="window-title">
        <span>提示</span>
        <div ng-click="cancel()" class="window-close">
            <div class="window-close-left"></div>
            <div class="window-close-right"></div>
        </div>
</div>
<div class="window-body">
    <div style="text-align: center;margin-top: 30px;margin-bottom: 20px;">{{msg}}</div>
</div>
<div class="window-bottom">
    <div>
        <button class="button btn ok twoLetter" type="button" ng-click="ok()">确定</button>
    </div>
    <div>
        <button class="button btn cancel twoLetter" type="button" ng-click="cancel()">取消</button>
    </div>
</div>