<div class="LubanLD-container">
    <!--顶部导航-->
	<header ng-include="'template/core/header.html'"></header>

    <!--主体内容-->
    <article class="main-container clearfix" style="height: calc(100% - 73px)">
        <!--左侧树节点导航-->
        <aside class="menu-nav">
	        <div class="contract-manage" side2-operation btn-wrapper window-resize>
			    <!--下拉框-->
			    <div class="contract-wrap">
			        <div class="dropdown contract-select">
			            <button class="menu" id="menu1" data-toggle="dropdown">
			                <span class="menu-name">施工合同</span>
			                <span class="arrow"></span>
			            </button>
			            <ul class="dropdown-menu" aria-labelledby="menu1">
			                <li><a href="#">施工合同</a></li>
			                <li><a href="#">监理合同</a></li>
			                <li><a href="#">监理实验室合同</a></li>
			            </ul>
			        </div>
			    </div>
			    <!--搜索框-->
			    <div class="contract-search">
			        <input type="text" class="input-search input-border" placeholder="快速搜索合同">
			        <a class="clear">
			            <i class="btn-close"></i>
			        </a>
			        <a class="btn-wrap">
			            <i class="btn-search"></i>
			        </a>
			    </div>
			    <ul class="left-list" according>
			        <li class="project-name">
			            <i class="icon-project"></i>
			            <a title="" class="project-name-span">九寨沟到绵羊绵羊绵羊绵羊项目</a>
			            <ul class="contract-list" style="display: none;">
			                <li class="contract-name active">
			                    <a>合同段1<i class="icon state-down"></i></a>
			                    <ul id="ztree" class="ztree" style="display: none;">
			                        <li>1</li>
			                    </ul>
			                </li>
			                <li class="contract-name">
			                     <a>合同段2<i class="icon state-down"></i></a>
			                    <ul class="tree-list" style="display: none;">
			                        <li>1</li>
			                    </ul>
			                </li>
			            </ul>
			        </li>
			        <li class="project-name">
			            <i class="icon-project"></i>
			            <a title="" class="project-name-span">九寨沟到绵羊绵羊绵羊绵羊项目</a>
			            <ul class="contract-list" style="display: none;">
			                <li class="contract-name active">
			                    <a>合同段1<i class="icon state-down"></i></a>
			                    <ul id="ztree" class="ztree" style="display: none;">
			                        <li>1</li>
			                    </ul>
			                </li>
			                <li class="contract-name">
			                     <a>合同段2<i class="icon state-down"></i></a>
			                    <ul class="tree-list" style="display: none;">
			                        <li>1</li>
			                    </ul>
			                </li>
			            </ul>
			        </li>
			    </ul>
			</div>
			<div class="btn-wrapper">
			    <span class="btn-slide"></span>
			    <span class="btn-arrow"></span>
			</div>
        </aside>
		<!-- <div style="color:#fff" class="content-main" ui-view></div> -->
		<!--右侧数据内容展示-->
		<section class="content-wrapper">
			 <!--固定导航-->
		    <div class="top-navbar" tab-active>
		        <a href="javascript:;" class="tab" ui-sref="first">
		            <span>合同管理</span>
		        </a>
		        <a href="javascript:;" class="active tab" ui-sref="second.projectDivisionContract">
		            <span>工程划分-合同段</span>
		        </a>
				<a href="javascript:;" class="tab" ui-sref="second.projectDivisionStake">
					<span>工程划分-桩号</span>
				</a>
		        <a href="javascript:;" class="tab" ui-sref="second.listManageContract">
		            <span>清单管理</span>
		        </a>
		    </div>
		    <div class="main-content" style="height: calc(100% - 40px);" ui-view>

		    </div>
		</section>
    </article>
    <div id="rMenu" class="treeRightMenu">
        <ul>
            <li id="m_add" >新增部门</li>
            <li id="m_rename">重命名</li>
            <li id="m_del">删除部门</li>
        </ul>
	</div>
</div>
