
<div class="modal-content">
    <div class="model-content ng-scope">
        <div class="window-title">
            <span>流程详情</span>
            <div ng-click="cancel()" class="window-close">
                <div class="window-close-left"></div>
                <div class="window-close-right"></div>
            </div>
        </div>
        <div class="modal-body" id="modal-body">
        <link rel="stylesheet" href="css/bounced.css" class="ng-scope" >
        <link rel="stylesheet" href="css/project_change.css" class="ng-scope" >
            <div class="bottom-content">
                <div class="table-construct" style="margin-top:30px;">
                    <div class="change-status">
                        <div class="change-status-dot"></div>
                        <ul>
                            <li class="change-status-stap">中间交工证书申请 <span class="status-green">【已提交】</span></li>
                            <li class="change-status-principal">王强</li>
                            <li class="change-status-opinion"><span>审批意见：</span> <div>这里是审批意见的内容，这里是审批意见的内容，这里是审批意见的内容，这里是审批意见的内容。</div></li>
                            <li class="change-status-time">2017-08-22    17:23:40</li>
                        </ul>
                    </div>
                    <div class="change-status">
                        <div class="change-status-dot"></div>
                        <ul>
                            <li class="change-status-stap">中间交工证书申请<span class="status-green">【已提交】</span></li>
                            <li class="change-status-principal">王强</li>
                            <li class="change-status-opinion"><span>审批意见：</span> <div>这里是审批意见的内容，这里是审批意见的内容，这里是审批意见的内容，这里是审批意见的内容。</div></li>
                            <li class="change-status-time">2017-08-22    17:23:40</li>
                        </ul>
                    </div>
                    <div class="change-status">
                        <div class="change-status-dot"></div>
                        <ul>
                            <li class="change-status-stap">中间交工证书申请<span class="status-blue">【已提交】</span></li>
                            <li class="change-status-principal">王强</li>
                            <li class="change-status-opinion"><span>审批意见：</span> <div>这里是审批意见的内容，这里是审批意见的内容，这里是审批意见的内容，这里是审批意见的内容。</div></li>
                            <li class="change-status-time">2017-08-22    17:23:40</li>
                        </ul>
                    </div>
                    <div class="change-status" style="border:none">
                        <div class="change-status-dot"></div>
                        <ul>
                            <li class="change-status-stap">中间交工证书申请<span class="status-black">【已提交】</span></li>
                            <li class="change-status-principal">王强</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>