<div class="model-content">
    <div class="window-title">
        <span>删除附件</span>
        <div ng-click="cancel()" class="window-close">
            <div class="window-close-left"></div>
            <div class="window-close-right"></div>
        </div>
    </div>
    <div class="window-content">
        <div class="delete-constract-wrapper">
            <h3>确认要删除该附件吗？</h3>
        </div>
    </div>
    <div class="window-bottom">
        <div style="text-align: right">
            <button class="btn ok fiveLetter" type="button" ng-click="ok()">确定</button>
        </div>
        <div style="text-align: left">
            <button class="btn cancel fiveLetter" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>