<div class="model-content">
    <div class="window-title">
        <span>删除合同</span>
        <div ng-click="cancel()" class="window-close">
            <div class="window-close-left"></div>
            <div class="window-close-right"></div>
        </div>
    </div>
    <div class="window-content">
        <div class="delete-constract-wrapper">
            <p>合同删除后，相关联的资料将全部删除且不可恢复！</p>
            <h3>是否确认删除合同？</h3>
        </div>
    </div>
    <div class="window-bottom" delete-constract>
        <div style="text-align: right">
            <button class="btn ok fiveLetter" type="button" ng-click="ok()" id="deleteConstract">确定</button>
        </div>
        <div style="text-align: left">
            <button class="btn cancel fiveLetter" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>