<link rel="stylesheet" href="css/project_manage_constract_preview.css">
<link rel="stylesheet" href="/">
<div class="model-content">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <p>预览</p>
            <a class="btn-close">
                <i ng-click="cancel()" class="ico-close"></i>
            </a>
        </h3>
    </div>
    <div class="preview-body" id="preview-body" style="height: calc(100vh - 100px)" btn-wrapper pdf-slide>
        <aside class="menu" style="height: calc(100vh - 100px)">
            <div class="file-wrapper">
                <a class="file-item">
                    <img src="imgs/pic.png" alt="" class="file-sm-pic">
                    <p class="file-name" title="cdvq啊啊啊鹅鹅鹅鹅啊casdcdvfvf.png">cdvq啊啊啊鹅鹅鹅鹅啊casdcdvfvf.png</p>
                </a>
                <a class="file-item">
                    <img src="" alt="" class="file-sm-pic">
                    <p class="file-name"></p>
                </a>
                <a class="file-item">
                    <img src="imgs/pic.png" alt="" class="file-sm-pic">
                    <p class="file-name">cdvq啊啊啊鹅鹅鹅鹅啊casdcdvfvf.png</p>
                </a>
                <a class="file-item">
                    <img src="imgs/pic.png" alt="" class="file-sm-pic">
                    <p class="file-name">cdvq啊啊啊鹅鹅鹅鹅啊casdcdvfvf.png</p>
                </a>
                <a class="file-item">
                    <img src="imgs/pic.png" alt="" class="file-sm-pic">
                    <p class="file-name">cdvq啊啊啊鹅鹅鹅鹅啊casdcdvfvf.png</p>
                </a>
                <a class="file-item">
                    <img src="imgs/pic.png" alt="" class="file-sm-pic">
                    <p class="file-name">cdvq啊啊啊鹅鹅鹅鹅啊casdcdvfvf.png</p>
                </a>
                <a class="file-item">
                    <img src="" alt="" class="file-sm-pic">
                    <p class="file-name"></p>
                </a>
            </div>
            <div class="btn-wrapper">
                <span class="btn-slide"></span>
                <span class="btn-arrow"></span>
            </div>
        </aside>
        <section class="preview-wrapper">
            <div class="top-nav">
                <div class="ico-wrapper">
                    <a class="btn-upload" id="btn-upload">
                        <i class="ico-upload"></i>
                    </a>
                    <a class="btn-delete" id="btn-delete">
                        <i class="ico-delete"></i>
                    </a>
                    <a class="btn-print" id="btn-print">
                        <i class="ico-print"></i>
                    </a>
                    <a class="btn-download" id="btn-download">
                        <i class="ico-download"></i>
                    </a>
                </div>
            </div>
            <div class="pdf-preview" style="height: calc(100vh - 145px)">
                <div class="pdf-left-arrow"></div>
                <div class="pdf-wrapper">
                    <div>
                        <a>
                            <img src="imgs/b1.jpg" alt="">
                        </a>
                        <a>
                            <img src="imgs/b2.jpg" alt="">
                        </a>
                        <a>
                            <img src="imgs/b3.jpg" alt="">
                        </a>
                        <a>
                            <img src="imgs/b4.jpg" alt="">
                        </a>
                        <a>
                            <img src="imgs/b5.jpg" alt="">
                        </a>
                        <a>
                            <img src="imgs/b1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="pdf-right-arrow"></div>
            </div>
        </section>
    </div>
</div>