<div class="model-content" >
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <p>新增/编辑施工合同</p>
            <a class="btn-close">
                <i ng-click="cancel()" class="ico-close"></i>
            </a>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <!--新建施工合同、新建监理合同、新建试验室合同以及编辑合同界面公共部分-->
        <div>
            <div class="top-content attachment" arrow-swiper>
                <div class="attachment-arrow-left">
                    <i class="ico-left"></i>
                </div>
                <div class="constract" delete-attachment>
                    <button class="btn-upload">上传附件</button>
                    <div class="attachment-wrapper">
                        <a class="wrapper-pdf">
                            <i class="ico-pdf"></i>
                            <span class="txt-pdf">上传附件上传附件上传附件</span>
                            <div class="inner-mask" >
                                <i class="delete-attachment" ng-click="deleteAttachmentModal()"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="attachment-arrow-right">
                    <i class="ico-right"></i>
                </div>

            </div>

        </div>
        <div class="bottom-content">
            <form class="table-construct" name="formConstract" ng-submit="submitForm(formConstract.$valid)" novalidate>
                <!--新建施工合同、新建监理合同、新建试验室合同以及编辑合同界面公共部分-->
                <div class="common-content" date-picker>
                    <div class="form-group" ng-class="{ 'has-error' : formConstract.contractNumber.$invalid && !formConstract.contractNumber.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="contractNum"  style="border: none">合同编号：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control"  ng-value="constructConstractInfos.contractNum" ng-model="ct_num" id="contractNum" name="contractNumber" ng-maxlength="100" required>
                            <p class="help-block">
                                <a ng-show="formConstract.constructUnit.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.constructUnit.$error.maxlength">该项不能超过100个字符</span>
                                <span ng-show="formConstract.contractNumber.$error.maxlength">该项为必填项</span>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : formConstract.signNumber.$invalid && !formConstract.signNumber.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="sectionNum" class="form-control" style="border: none">标段号：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="sectionNum"  ng-value="constructConstractInfos.sectionNum" ng-model="sn_num" name="signNumber" ng-maxlength="100" required>
                            <p class="help-block">
                                <a ng-show="formConstract.signNumber.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.signNumber.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : formConstract.contractValue.$invalid && !formConstract.contractValue.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="contractAmount" class="form-control" style="border: none">合同金额：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="contractAmount"  ng-value="constructConstractInfos.contractAmount" ng-model="ct_value" name="contractValue" ng-maxlength="100" value="{{items.contract_unit}}" required>
                            <p class="help-block">
                                <a ng-show="formConstract.contractValue.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.contractValue.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span class="unit">人民币（元）</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : formConstract.projectName.$invalid && !formConstract.projectName.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="projectName" class="form-control" style="border: none">项目名称：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="projectName"  ng-value="constructConstractInfos.projectName" ng-model="pt_name" name="projectName" ng-maxlength="100" required>
                            <p class="help-block">
                                <a ng-show="formConstract.projectName.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.projectName.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : formConstract.contractDate.$invalid && !formConstract.contractDate.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="signedDate" class="form-control control-label" style="border: none">合同签订日期：</label>
                        </div>
                        <div class="col-xs-3">
                            <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="contract_sign" data-link-format="yyyy-mm-dd">
                                <input size="16" type="text" class="form-control" id="signedDate"  ng-value="constructConstractInfos.signedDate |
                                        date:'yyyy-MM-dd'" ng-model="ct_date" name="contractDate" ng-maxlength="100" required>
                                <p class="help-block">
                                    <a ng-show="formConstract.contractDate.$error.required">该项为必填项</a>
                                    <span ng-show="formConstract.contractDate.$error.maxlength">该项不能超过100个字符</span>
                                </p>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <input type="hidden" id="contract_sign" value="" />
                        </div>
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="contract_type" class="form-control" style="border: none">合同类型：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="contract_type"  placeholder="施工合同" readonly name="contractType" ng-maxlength="100" required>
                            <p class="help-block">
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : formConstract.constructUnit.$invalid && !formConstract.constructUnit.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="constructionUnit" class="form-control" style="border: none">建设单位：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="constructionUnit"  ng-value="constructConstractInfos.constructionUnit" ng-model="construct_unit" name="constructUnit" ng-maxlength="100" required>
                            <p class="help-block">
                                <a ng-show="formConstract.constructUnit.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.constructUnit.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : formConstract.superviseUnit.$invalid && !formConstract.superviseUnit.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="supervisionUnit" class="form-control" style="border: none">监理单位：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="supervisionUnit"  ng-value="constructConstractInfos.supervisionUnit" ng-model="sv_unit" name="superviseUnit" ng-maxlength="100" required>
                            <p class="help-block">
                                <a ng-show="formConstract.superviseUnit.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.superviseUnit.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <br>
                    </div>

                </div>
                <div date-picker>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.contractUnit.$invalid && !formConstract.contractUnit.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="executionUnit" class="form-control" style="border: none">施工单位：</label>
                        </div>
                        <div class="col-xs-3">
                            <!--------------------------此处要修改-->
                            <input type="text" class="form-control" id="executionUnit" name="contractUnit" required
                                   ng-maxlength="100"  ng-value="constructConstractInfos.executionUnit" ng-model="construct_unit">
                            <p class="help-block">
                                <a ng-show="formConstract.contractUnit.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.contractUnit.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.csEngineer.$error.maxlength}">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="supervisingEngineer" class="form-control"
                                   style="border: none">总监理工程师：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="supervisingEngineer"  ng-value="constructConstractInfos.supervisingEngineer" ng-model="cs_engineer"
                                   name="csEngineer"
                                   ng-maxlength="100">
                            <p class="help-block">
                                <span ng-show="formConstract.csEngineer.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.contractManager.$error.maxlength}">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="constructionManager" class="form-control" style="border: none">施工负责人：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="constructionManager" name="contractManager" required
                                   ng-maxlength="100" ng-model="ct_manager" ng-value="constructConstractInfos.constructionManager">
                            <p class="help-block">
                                <span ng-show="formConstract.contractManager.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.cpEngineer.$error.maxlength}">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="projectChief" class="form-control" style="border: none">项目总工：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="projectChief" name="cpEngineer" required
                                   ng-maxlength="100" ng-model="cp_engineer"  ng-value="constructConstractInfos.projectChief" value="{{items}}">
                            <p class="help-block">
                                <span ng-show="formConstract.cpEngineer.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.initialNumber.$invalid && !formConstract.initialNumber.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="startStakeMark" class="form-control" style="border: none">起始桩号：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="startStakeMark" name="initialNumber" required
                                   ng-maxlength="100" ng-model="initial_num"  ng-value="constructConstractInfos.startStakeMark" ng-pattern="/^[0-9a-zA-Z]+$/">
                            <p class="help-block">
                                <a ng-show="formConstract.initialNumber.$error.pattern">请输入数字或英文字符</a>
                                <a ng-show="formConstract.initialNumber.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.initialNumber.$error.maxlength">该项不能超过100个字符</span>

                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.endNumber.$invalid && !formConstract.endNumber.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="endStakeMark" class="form-control" style="border: none">结束桩号：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="endStakeMark" name="endNumber" required
                                   ng-maxlength="100" ng-model="end_num"  ng-value="constructConstractInfos.endStakeMark " ng-pattern="/^[0-9a-zA-Z]+$/">
                            <p class="help-block">
                                <a ng-show="formConstract.endNumber.$error.pattern">请输入数字或英文字符</a>
                                <a ng-show="formConstract.endNumber.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.endNumber.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.contractLength.$invalid && !formConstract.contractLength.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="sectionLength" class="form-control" style="border: none">合同段长度：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="sectionLength" name="contractLength" required
                                   ng-maxlength="100" ng-model="ct_length"  ng-value="constructConstractInfos.sectionLength " ng-pattern="/^[0-9a-zA-Z]+$/">
                            <p class="help-block">
                                <a ng-show="formConstract.contractLength.$error.pattern">请输入数字或英文字符</a>
                                <a ng-show="formConstract.contractLength.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.contractLength.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <div class="col-xs-7">
                            <span class="meter">千米</span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.psDate.$invalid && !formConstract.psDate.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="planStartDate" class="form-control" style="border: none">计划开工日期：</label>
                        </div>
                        <div class="col-xs-3">
                            <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd"
                                 data-link-field="start_date" data-link-format="yyyy-mm-dd">
                                <input size="16" type="text" class="form-control" id="planStartDate" name="psDate"
                                       required
                                       ng-maxlength="100" ng-model="ps_date" value="" ng-value="constructConstractInfos.planStartDate |
                                        date:'yyyy-MM-dd'">
                                <span class="add-on"><i class="icon-th"></i></span>
                                <p class="help-block">
                                    <a ng-show="formConstract.psDate.$error.required">该项为必填项</a>
                                    <span ng-show="formConstract.psDate.$error.maxlength">该项不能超过100个字符</span>
                                </p>
                            </div>
                            <input type="hidden" id="start_date" value=""/>
                        </div>
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.peDate.$invalid && !formConstract.peDate.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="planEndDate" class="form-control" style="border: none">计划完工日期：</label>
                        </div>
                        <div class="col-xs-3">
                            <div class="controls input-append date form_date" data-date=""
                                 data-date-format="yyyy-mm-dd"
                                 data-link-field="end_date" data-link-format="yyyy-mm-dd">
                                <input size="16" type="text" class="form-control" id="planEndDate" name="peDate" required
                                       ng-maxlength="100" ng-model="pe_date" ng-value="constructConstractInfos.planEndDate |
                                        date:'yyyy-MM-dd'">
                                <span class="add-on"><i class="icon-th"></i></span>
                                <p class="help-block">
                                    <a ng-show="formConstract.peDate.$error.required">该项为必填项</a>
                                    <span ng-show="formConstract.peDate.$error.maxlength">该项不能超过100个字符</span>
                                </p>
                            </div>
                            <input type="hidden" id="end_date" value=""/>
                        </div>
                        <br>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.ctsDate.$invalid && !formConstract.ctsDate.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="actualStartDate" class="form-control"
                                   style="border: none">实际开工日期：</label>
                        </div>
                        <div class="col-xs-3">
                            <div class="controls input-append date form_date" data-date=""
                                 data-date-format="yyyy-mm-dd"
                                 data-link-field="acture-start_date" data-link-format="yyyy-mm-dd">
                                <input size="16" type="text" class="form-control" id="actualStartDate" name="ctsDate"
                                       required
                                       ng-maxlength="100" ng-model="cts_date" ng-value="constructConstractInfos.actualStartDate |
                                        date:'yyyy-MM-dd'">
                                <span class="add-on"><i class="icon-th"></i></span>
                                <p class="help-block">
                                    <span ng-show="formConstract.ctsDate.$error.maxlength">该项不能超过100个字符</span>
                                </p>
                            </div>
                            <input type="hidden" id="acture-start_date" value=""/>
                        </div>
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.cteDate.$invalid && !formConstract.cteDate.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="actualEndDate" class="form-control"
                                   style="border: none">实际完工日期：</label>
                        </div>
                        <div class="col-xs-3 dropdown">
                            <div class="controls input-append date form_date" data-date=""
                                 data-date-format="yyyy-mm-dd"
                                 data-link-field="acture-end_date" data-link-format="yyyy-mm-dd">
                                <input size="16" type="text" class="form-control" id="actualEndDate" name="cteDate"
                                       required
                                       ng-maxlength="100" ng-model="cte_date" ng-value="constructConstractInfos.actualEndDate |
                                        date:'yyyy-MM-dd'">
                                <span class="add-on"><i class="icon-th"></i></span>
                                <p class="help-block">
                                    <span ng-show="formConstract.cteDate.$error.maxlength">该项不能超过100个字符</span>
                                </p>
                            </div>
                            <input type="hidden" id="acture-end_date" value=""/>
                        </div>
                        <br>

                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.projectTime.$invalid && !formConstract.projectTime.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="duration" class="form-control"
                                   style="border: none">工期：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="duration" name="projectTime" required
                                   ng-maxlength="100" ng-model="pt_time" ng-pattern="/^[0-9a-zA-Z]+$/" ng-value="constructConstractInfos.duration">
                            <p class="help-block">
                                <a ng-show="formConstract.projectTime.$error.pattern">请输入数字或英文字符</a>
                                <a ng-show="formConstract.projectTime.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.projectTime.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <span class="month">月</span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : formConstract.associatedEngineer.$invalid && !formConstract.associatedEngineer.$pristine }">
                        <div class="col-xs-2" style="text-align: left">
                            <label for="ppid" class="form-control"
                                   style="border: none">关联工程：</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="associated_engineer" id="ppid"
                                   name="associatedEngineer" required
                                   ng-maxlength="100" ng-model="as_engineer" ng-value="">
                            <a class="btn-associate">
                                <span class="ico-associate"></span>
                            </a>
                            <p class="help-block">
                                <a ng-show="formConstract.associatedEngineer.$error.required">该项为必填项</a>
                                <span ng-show="formConstract.associatedEngineer.$error.maxlength">该项不能超过100个字符</span>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="window-bottom">
        <div style="text-align: right">
            <button class="btn ok fiveLetter" type="button" ng-click="ok()">保存</button>
        </div>
        <div style="text-align: left">
            <button class="btn cancel fiveLetter" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<!--<ul>-->
<!--<li ng-repeat="item in items">-->
<!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
<!--</li>-->
<!--</ul>-->
<!--Selected: <b>{{selected.item}}</b>-->