<link rel="stylesheet" href="css/project_manage_constract_preview.css">
<link rel="stylesheet" href="/">
<div class="model-content">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <p>预览</p>
            <a class="btn-close">
                <i ng-click="cancel()" class="ico-close"></i>
            </a>
        </h3>
    </div>
    <div class="preview-body" id="preview-body" style="height: calc(100vh - 100px)" btn-wrapper pdf-slide>
        <aside class="preview-menu" style="height: calc(100vh - 100px)">
            <div class="file-wrapper">
                <a class="file-item" ng-repeat="item in contractFiles track by $index">
                <!--<a class="file-item">-->
                    <img ng-src="imgs/pic.png" alt="" class="file-sm-pic" title="{{item.fileName}}">
                    <p class="file-name" title="{{item.fileName}}">{{item.fileName}}</p>
                    <!--<img src="imgs/pic.png" alt="" class="file-sm-pic">-->
                    <!--<p class="file-name" title="">4234234</p>-->
                </a>
                <!--<a class="file-item">-->
                    <!--&lt;!&ndash;<img ng-src="imgs/pic.png" alt="" class="file-sm-pic" title="{{item.fileName}}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="file-name" title="{{item.fileName}}">{{item.fileName}}</p>&ndash;&gt;-->
                    <!--<img src="imgs/pic.png" alt="" class="file-sm-pic">-->
                    <!--<p class="file-name" title="">4234234</p>-->
                <!--</a>-->
            </div>
            <div class="button-wrapper">
                <span class="btn-left"></span>
                <span class="btn-right"></span>
            </div>
        </aside>
        <section class="preview-wrapper">
            <div class="top-nav">
                <div class="ico-wrapper" delete-attachment upload-files>
                    <element ng-if="uploader">
                        <input class="upload-docs" type="file" nv-file-select="" uploader="uploader"
                               style="display: none;"/>
                    </element>
                    <a class="btn-upload upload-docs" id="btn-upload" title="上传附件" ng-click="docsUpload()">
                        <i class="ico-upload"></i>
                    </a>
                    <a class="btn-delete" id="btn-delete" title="删除附件" ng-click="deleteAttachmentModal(2)">
                        <i class="ico-delete"></i>
                    </a>
                    <a class="btn-download" id="btn-download" title="下载附件">
                        <i class="ico-download"></i>
                    </a>
                </div>
            </div>
            <div class="pdf-preview" style="height: calc(100vh - 145px)">
                <div class="pdf-left-arrow"></div>
                <div class="pdf-wrapper">
                    <a ng-repeat="item in contractFiles track by $index">
                    <!--<a >-->
                        <img ng-src="imgs/b1.jpg" alt="">
                        <!--<img src="imgs/b1.jpg" alt="">-->
                    </a>
                    <!--<a >-->
                        <!--&lt;!&ndash;<img ng-src="imgs/b1.jpg" alt="">&ndash;&gt;-->
                        <!--<img src="imgs/b1.jpg" alt="">-->
                    <!--</a>-->
                </div>
                <div class="pdf-right-arrow"></div>
            </div>
        </section>
    </div>
</div>