<div class="model-content">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <p>新增/编辑监理合同</p>
            <a class="btn-close">
                <i ng-click="cancel()" class="ico-close"></i>
            </a>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <!--新建施工合同、新建监理合同、新建试验室合同以及编辑合同界面公共部分-->
        <div ng-include="'template/core/topCommonModal.html'"></div>
        <div class="bottom-content">
            <form class="table-construct" style="height: 270px;" name="formConstract"
                  ng-submit="submitForm(formConstract.$valid)" novalidate>
                <!--新建施工合同、新建监理合同、新建试验室合同以及编辑合同界面公共部分-->
                <div ng-include="'template/core/contentCommonModal.html'" date-picker class="common-content"></div>
                <div ng-include="'template/core/single_supervise.html'"></div>
            </form>
        </div>
    </div>
    <div class="window-bottom">
        <div style="text-align: right">
            <button class="btn ok fiveLetter" type="button" ng-click="ok()">保存</button>
        </div>
        <div style="text-align: left">
            <button class="btn cancel fiveLetter" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>