<div class="contract-manage" side-operation btn-wrapper window-resize>
    <div style="margin-top: 5px;border-bottom: 1px solid #DADBDF;height: 40px;">
        <div style="width: calc(100% - 49px);float: left;">
            <!--搜索框-->
            <div class="contract-search" style="border: none;" input-search>
                <input id="secondTreeInput" type="text" class="input-search input-border" placeholder="快速搜索合同">
                <a class="clear" id="clearSecondTree" style="display:none;">
                    <i class="btn-close"></i>
                </a>
                <a class="btn-wrap" id="searchSecondTree">
                    <i class="btn-search"></i>
                </a>
            </div>
        </div>
        <!-- 展开、收缩按钮 -->
        <div>
            <button type="button" class="openOrCloseTree" id="expand">
                <span>+</span>
            </button>
            <button type="button" class="openOrCloseTree" style="margin-left: 5px;" id="collapse">
                <span>-</span>
            </button>
        </div>
    </div>
</div>
<div class="btn-wrapper">
    <span class="btn-slide"></span>
    <span class="btn-arrow"></span>
</div>
