<div class="contract-manage
" ng-controller="constractManageCtrl" drop-down side2-operation btn-wrapper window-resize>
    <!--下拉框-->
    <div class="contract-wrap">
        <div class="dropdown contract-select">
            <button class="menu" id="menu1" data-toggle="dropdown">
                <span class="menu-name">施工合同</span>
                <span class="arrow"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="menu1">
                <li ng-repeat="item in constructName"><a href="#">{{item}}</a></li>
            </ul>
        </div>
    </div>
    <!--搜索框-->
    <div class="contract-search">
        <input type="text" class="input-search input-border" placeholder="快速搜索合同">
        <a class="clear">
            <i class="btn-close"></i>
        </a>
        <a class="btn-wrap">
            <i class="btn-search"></i>
        </a>
    </div>
    <ul class="left-list" according>
        <li class="project-name">
            <i class="icon-project"></i>
            <a title="" class="project-name-span">九寨沟到绵羊绵羊绵羊绵羊项目</a>
            <ul class="contract-list" style="display: none;">
                <li class="contract-name active">
                    <a>合同段1</a>
                </li>
                <li class="contract-name">
                    <a>合同段2</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="btn-wrapper">
    <span class="btn-slide"></span>
    <span class="btn-arrow"></span>
</div>