<div class="contract-manage" ng-controller="firstCtrl"  side-operation btn-wrapper window-resize>
    <!--下拉框-->
    <div class="contract-wrap">
        <div class="dropdown contract-select">
            <button class="menu" id="menu1" data-toggle="dropdown">
                <span class="menu-name">施工合同</span>
                <span class="arrow"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="menu1">
                <li buttonID="createConstructModal" btnNone="createSuperviseModal,createLabModal" templateID="table-construct"><a href="#">施工合同</a></li>
                <li buttonID="createSuperviseModal" btnNone="createConstructModal,createLabModal" templateID="table-supervisor"><a href="#">监理合同</a></li>
                <li buttonID="createLabModal" btnNone="createConstructModal,createSuperviseModal" templateID="table-lab"><a href="#">监理试验室合同</a></li>
            </ul>
        </div>
    </div>
    <!--搜索框-->
    <div class="contract-search">
        <input type="text" class="input-search input-border" placeholder="快速搜索合同">
        <a class="clear">
            <i class="btn-close"></i>
        </a>
        <a class="btn-wrap">
            <i class="btn-search"></i>
        </a>
    </div>
    <ul class="left-list" according-repeat>
        <li class="project-name" ng-repeat="item in deptList track by $index" dept-repeat-finish>
            <i class="icon-project"></i>
            <a title="" class="project-name-span" ng-click="getContractList(item.deptId)">{{item.deptName}}</a>
            <ul class="contract-list" style="display: none;">
                <li class="contract-name active" ng-repeat="item1 in contractList track by $index" contractlist-repeat-finish>
                    <a>{{item1.sectionNum}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="btn-wrapper">
    <span class="btn-slide"></span>
    <span class="btn-arrow"></span>
</div>
