<div class="top-content attachment" arrow-swiper>
    <div class="attachment-arrow-left">
        <i class="ico-left"></i>
    </div>
    <div class="constract" delete-attachment>
        <button class="btn-upload">上传附件</button>
        <div class="attachment-wrapper">
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
                <div class="inner-mask" >
                    <i class="delete-attachment" ng-click="deleteAttachmentModal()"></i>
                </div>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>
            <a class="wrapper-pdf">
                <i class="ico-pdf"></i>
                <span class="txt-pdf">上传附件上传附件上传附件</span>
            </a>

        </div>
    </div>
    <div class="attachment-arrow-right">
        <i class="ico-right"></i>
    </div>

</div>
